<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    OP Stack Overflow viewer
  </h1>
</div>

<div>
  <app-searchbar (search)="this.searchHandle($event)"></app-searchbar>
  <div class="row">
    <div class="results">
      <app-searchresults [searchResults]="searchResults"  (selectResult)="this.selectResultHandle($event)"></app-searchresults>
    </div>
    <div class="details">
      <div *ngIf="this.selctedSearchResult">
          <app-searchresultdetails [searchResult]="this.selctedSearchResult"></app-searchresultdetails>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
