<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    OP Stack Overflow viewer
  </h1>
</div>

<div>
  <app-searchbar (search)="this.searchHandle($event)"></app-searchbar>
  <div class="row">
    <div class="results">
      <app-search-results [searchResults]="searchResults"  (selectResult)="this.selectResultHandle($event)"></app-search-results>
    </div>
    <div class="details">
      <div *ngIf="this.selctedSearchResult">
          <app-search-result-details [searchResult]="this.selctedSearchResult"></app-search-result-details>
      </div>
    </div>
  </div>
</div>
